body {
    text-align: center;
}

#content {
    width: 60%;
    text-align: left;
    margin:0 auto;
}

h1 {
    font-family: Arial;
    text-align: center;
}

p {
    font-family: Arial;
}

div.form {
    text-align: center;
}

a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

a:link, a:visited {
    color: black;
}

a:hover, a:active {
    color: #555;
}

div.pagination div#right {
    text-align: right;
}
	
div.pagination div#left {
    text-align: left;
}
	
div.pagination div {
    display: inline-block;
    width: 49.67%;
}